<div class="current-user">
  <% if user_signed_in? %>
    ユーザー名:<%= current_user.name %><br>
  <% else %>
    ログインしてください<br>
  <% end %>
</div>

<%= form_with model: @food , local:true do |f| %>
  <div class="register-content">
      <!--<%= image_tag "logo.png",width: "auto", height: "100%" %>-->
      <%= f.label :image ,"!",class:"image-content"%>
      <%= f.file_field :image %>

    <div class="name-content">
      <%= f.text_field :name ,placeholder: "食材名"%>
    </div>

    <div class="quantity-content">
      個数: <%= f.number_field :quantity %>
    </div>

    <div class="expiry-content">
      賞味期限: <%= f.date_field :expiry_at %>
    </div>
    
    <div class="memo-content">
      <textarea id="memo" name="memo" cols="40" rows="5" wrap="hard" placeholder="メモ"></textarea>
    </div>

    <div class="add-content">
    <%= f.submit "追  加"%>
    </div>
    <% end %>
  </div>
