<!DOCTYPE html>
<html>
  <head>
    <title>PaprikaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-logo">
        <%= link_to image_tag("img_logo.png"), "/" ,class:"link"%>
        </div>
            <div class="header-list">
            <% if user_signed_in? %>
                <ul>
                  <li>
                      <div class="header-logout">
                      <%= button_to "ログアウト", {controller: "devise/sessions", action: "destroy"}, {method: :delete, class: "button"} %>
                      </div>
                  </li>
            <% else %>
                  <li>
                      <div class="heder-login">
                      <%= button_to "ログイン" ,{controller: "devise/sessions", action: "create"}, {method: :get, class: "button"}%>
                      </div>
                  </li>
                  <li>
                      <div class="heder-create_new">
                        <%= button_to "新規登録",{controller: "devise/registrations", action: "cancel"}, {method: :get, class: "button"}%>
                      </div>
                  </li>
                </ul>
              
            <% end %>
            </div>
      </div>

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div class=current_user>
      <%= session[:name] %>
      </div>
      
      <div class="yield">
        <%= yield %>
      </div>
      <% if user_signed_in? %>
      <footer>
        <div class="action-bar">
          <%= button_to image_tag("food-icon.png"),{controller: "foods", action: "index"}, {method: :get, class: "button-food"}%>
          <%= button_to image_tag("register-icon.png"),{controller: "foods", action: "new"}, {method: :get, class: "button-register"}%>
          <%= button_to image_tag("news-icon.png"),{controller: "homes", action: "news"}, {method: :get, class: "button-news"}%>
          <% if current_user.setting.blank? %>
            <%= button_to image_tag("setting-icon.png"),{controller: "settings", action: "new"}, {method: :get, class: "button-setting"}%>
          <% else %>
            <%= button_to image_tag("setting-icon.png"),"/settings/#{current_user.setting.id}/edit", {method: :get, class: "button-setting"}%>
          <% end %>
        </div>
      </footer>
      <% end %>
    </div>
  </body>
</html>
